@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root {
  --background: #2d283e;
  --accent: #802bb1;
  --color1: #564f6f;
  --color2: #4c495d;
  --text-off: #d1d7e0;
  --text-on: #ffffff;
}

html,
body {
  background-color: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
}

body {
  color: var(--text-on);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  #svelte {
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;

    max-width: 1000px;
  }
}

h3 {
  color: var(--text-off);
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 100;
}

a {
  background-color: var(--accent);
  color: var(--text-off);
  text-decoration: none;
}

a:hover {
  background-color: var(--text-off);
  color: var(--accent);
  text-decoration: none;
}

p {
  font-weight: 300;
  margin: 1em 1em;
}
