@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root {
  --accent: #3aafa9;
  --background: #17252a;
  --background-fade: #2e3a3f;
  --highlight: #2b7a78;
  --text-fade: #def2f1;
  --text: #feffff;
}

html,
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
}

body {
  color: var(--text);
  margin: 0;
  padding: 0;

  background-color: var(--background);
  opacity: 0.8;
  background-image: radial-gradient(var(--background-fade) 0.5px, var(--background) 0.5px);
  background-size: 10px 10px;
  background-attachment: fixed;
}

h1,
h2,
h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

h2,
h3 {
  color: var(--text-fade);
  font-weight: 100;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  margin: 0.2em 0 0 4px;
}

h2 {
  font-size: 1.1em;
  font-weight: 100;
  margin: 0 0 16px 4px;
}

h3 {
  font-size: 2em;
  margin-top: 2em;
  margin-left: 24px;
}
