@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@100;200;300;400&family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root {
  --accent: #3aafa9;
  --background: #17252a;
  --background-fade: #2e3a3f;
  --highlight: #2b7a78;
  --text-fade: #def2f1;
  --text: #feffff;
}

html,
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
}

body {
  background-color: var(--background-fade);
  color: var(--text);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 24px;
  text-transform: capitalize;
}

h1,
h2,
h3 {
  color: var(--text);
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h4,
h5,
h6 {
  color: var(--text-fade);
  font-family: 'Fira Code', monospace;
  margin-top: 2em;
  margin-bottom: 0.6em;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  line-height: 1.3em;
}

h2 {
  font-size: 1.6em;
  font-weight: 200;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
}

h4 {
  font-size: 1.3em;
  font-weight: 100;
}

h5 {
  font-size: 1.1em;
  font-weight: 200;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  font-weight: 200;
  margin: 0 24px 1em 24px;
}

#content {
  margin: 0;
  padding-bottom: 2em;
}

#content a,
#content a:visited {
  background-color: var(--accent);
  color: var(--text);
  text-decoration: none;
}

#content a:hover {
  background-color: var(--text);
  color: var(--highlight);
  text-decoration: none;
}

@media (min-width: 950px) {
  #content {
    margin: 0 auto;
    max-width: 950px;
  }
}

.text-fade {
  color: var(--text-fade);
  font-weight: 100;
}

code,
pre {
  background-color: var(--background);
  border-radius: 3px;
  color: var(--text-fade);
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
  font-weight: 100;
  padding: 0;
}

code {
  padding: 0 2px;
}

pre {
  border: 1px var(--background-fade) solid;
  margin-left: 24px;
  padding: 8px 8px 8px 16px;
}
