@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root {
  --accent: #802bb1;
  --accent-fade: #564f6f;
  --background: #2d283e;
  --background-fade: #4c495d;
  --text-fade: #d1d7e0;
  --text: #ffffff;
}

html,
body {
  background-color: var(--background);
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
}

body {
  color: var(--text);
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

h2, h3 {
  color: var(--text-fade);
  font-weight: 100;
}

h1 {
  color: var(--text);
  font-size: 3em;
  font-weight: 200;
  margin: 0.2em 0 0 4px;
}

h2 {
  font-size: 1.1em;
  font-weight: 100;
  margin: 0 0 16px 4px;
}

h3 {
  font-size: 2em;
}


