@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Josefin+Sans:wght@100;200;300;400&display=swap');

:root {
  --accent: #802bb1;
  --accent-fade: #564f6f;
  --background: #2d283e;
  --background-fade: #4c495d;
  --text-fade: #d1d7e0;
  --text: #ffffff;
}

html,
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: large;
}

body {
  color: var(--text);
  margin: 0;
  padding: 0;

  background-color: var(--background);
  opacity: 0.8;
  background-image: radial-gradient(var(--background-fade) 0.5px, var(--background) 0.5px);
  background-size: 10px 10px;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
}

h2,
h3 {
  color: var(--text-fade);
  font-weight: 100;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  margin: 0.2em 0 0 4px;
}

h2 {
  font-size: 1.1em;
  font-weight: 100;
  margin: 0 0 16px 4px;
}

h3 {
  font-size: 2em;
  margin-top: 2em;
  margin-left: 24px;
}

h4,
h5,
h6 {
  margin: 0 24px;
}

h4 {
  font-size: 1em;
  font-weight: 400;
  margin-top: 2em;
}

h5 {
  font-size: 1.2em;
  font-weight: 200;
}

h6 {
  color: var(--text-fade);
  font-size: 0.8em;
  font-weight: 100;
}

h5 span.fade {
  color: var(--text-fade);
  font-weight: 100;
  font-size: 0.9em;
}

p {
  font-weight: 300;
  margin: 1em 24px;
}
