@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Josefin+Sans:wght@100;200;300;800&display=swap');

:root {
  --blizzard: #feffff;
  --oyster: #def2f1;
  --keppel: #3aafa9;
  --myrtle: #2b7a78;
  --pearl: #17252a;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--blizzard);
  font-family: 'Josefin Sans', sans-serif;
}

body {
  color: var(--pearl);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#svelte {
  max-width: 800px;
}

h1 {
  color: var(--pearl);
  font-size: 2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 100;
  margin: 0;
  text-transform: capitalize;
}

h2 {
  color: var(--pearl);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
}

h3 {
  color: var(--myrtle);
  text-transform: uppercase;
  font-family: 'Fira Code', monospace;
  font-size: 1em;
  font-weight: 400;
}

h4 {
  color: var(--keppel);
  font-family: 'Fira Code', monospace;
  font-size: 0.75em;
  font-weight: 800;
  text-transform: uppercase;
}

h3,
h4 {
  margin-top: 4em;
}

a {
  color: var(--keppel);
  text-decoration: none;
}

a:hover {
  background-color: var(--oyster);
  text-decoration: none;
}

a:visited {
  color: var(--myrtle);
}