name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Build
        uses: actions/setup-node@v3
        with:
          node-version: 17.x
      - run: npm ci
      - run: npm run build

      - name: Publish to surge.sh
        uses: dswistowski/surge-sh-action@v1.0.1
        with:
          domain: 'alexanderczigler.se'
          project: 'build'
          login: ${{ secrets.surge_login }}
          token: ${{ secrets.surge_token }}
